.navi ul {
  overflow: hidden;
  zoom: 1;
}
.navi ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  width: 60px;
}

.navi a,
.navi a :link,
.navi a :visited,
.navi a :hover,
.navi a :active {
  color: #53d9ef;
}
