* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c2c32;
  font-family: "微软雅黑";
}
ul {
  list-style-type: none;
}

.CodeMirror {
  height: 300px;
}

.rjsf legend,
.rjsf label {
  font-size: 15.5px;
  font-weight: normal;
}
.rjsf .row {
  height: 30px;
  line-height: 30px;
}
.rjsf .form-control {
  height: 30px;
  line-height: 30px;
}
.rjsf .form-group {
  border-width: 1px;
  border-style: dotted;
  border-color: #53d9ef;
  padding: 8px;
}

.rjsf .field-string {
  border-width: 0px;
}

.rjsf .array-item-add button {
  padding: 0px;
}
.rjsf .array-item-toolbox button {
  padding: 0px;
}
